<script type="text/ng-template" id="popoverTemplate.html">
    <div style="max-width: 320px">
        <h5>{{"How_does_it_work" | I18N}}</h5>
        <p>
            {{"alert_help_1" | I18N}} <code>upstreams/{id}/health</code> {{"every_minute" | I18N}}
            {{"alert_help_2" | I18N}} <code>UNHEALTHY</code> or <code>DNS_ERROR</code> {{"statuses" | I18N}}.
            <br><br>
            {{"alert_help_3" | I18N}} <code>Details</code> {{"tab" | I18N}}.
        </p>
    </div>
</script>

<div class="panel panel-default">
    <div class="panel-heading primary">
        <div class="panel-title pull-left">
            Alerts
        </div>
        <div class="pull-right">
            <input
                    bs-switch
                    ng-model="alert.active"
                    switch-size="mini"
                    type="checkbox"
                    switch-on-text="ON"
                    switch-off-text="OFF"
                    ng-change="alertChanged()"
            >
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">

        <div class="alert alert-warning" ng-if="!alert.active">
            {{"alert_help_4" | I18N}}
        </div>

        <a href="javascript:void(0)"
           uib-popover-template="'popoverTemplate.html'"
           popover-placement="bottom"
           popover-trigger="'outsideClick'"
        >{{"How_does_it_work" |I18N}}</a>
        <br>
        <br>

        <h4 class="margin-bottom">{{"alert_help_5" | I18N}}</h4>

        <table class="table">
            <tr>
                <td>
                    <h5>{{"email_administrators" | I18N}}</h5>
                    <p class="help-block">
                        {{"alert_help_6" | I18N}} <a ui-sref="settings"  class="no-wrap">Settings -> Notifications</a>.
                    </p>
                </td>
                <td width="1">
                    <div class="pull-right">
                        <input
                                bs-switch
                                ng-model="alert.email"
                                switch-size="small"
                                type="checkbox"
                                switch-on-text="ON"
                                switch-off-text="OFF"
                                ng-change="alertChanged()"
                        >
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h5>{{"alert_help_7" | I18N}}</h5>
                    <p class="help-block">
                        {{"alert_help_8" | I18N}} <a ui-sref="settings" class="no-wrap">{{"settings" | I18N}} -> {{"notifications" | I18N}}</a>.
                    </p>
                </td>
                <td width="1">
                    <div class="pull-right">
                        <input
                                bs-switch
                                ng-model="alert.slack"
                                switch-size="small"
                                type="checkbox"
                                switch-on-text="ON"
                                switch-off-text="OFF"
                                ng-change="alertChanged()"
                        >
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>