<div class="col-md-12 bg-light-grey padding margin-bottom">
    <div class="col-md-6 text-left">
        <h4>
            <i class="mdi mdi-heart-pulse"></i>
            {{"services_health_checks" | I18N}}

        </h4>
    </div>
    <div class="col-md-6 text-right">
        <input
                bs-switch
                ng-model="serviceHC.active"
                type="checkbox"
                switch-on-text="ENABLED"
                switch-off-text="DISABLED"
                ng-change="toggleServiceHC()"
        >

    </div>
</div>


<uib-tabset active="active">
    <uib-tab index="0" heading="CONFIGURATION">
        <br>
        <form>
            <div class="alert alert-info">
                {{"services_health_alert_info" | I18N}} <code>{{"services_health_email_notifications" |I18N}}</code> {{"services_health_in" | I18N}} <code>{{"services_health_settings" |I18N}}</code>.
            </div>
            <div class="alert alert-danger" ng-if="serviceHC.active && !serviceHC.health_check_endpoint">
                {{"services_health_danger" |I18N}}
            </div>
            <div class="form-group">
                <label>{{"services_health_hc_point" |I18N}} <span class="text-danger">*</span></label>
                <input type="text" ng-model="serviceHC.health_check_endpoint" class="form-control" required placeholder="ex. http://my-api/endpoint">
                <p class="help-block"><small>{{"services_health_konga_will_perform" |I18N}} <code>GET</code> {{"services_health_endpoint" | I18N}}</small></p>
            </div>
            <div class="form-group">
                <label>{{"services_health_notification_endpoint" |I18N}}<small class="text-muted">{{"services_health_optional" | I18N}}</small></label>
                <input type="text" ng-model="serviceHC.notification_endpoint" class="form-control" placeholder="ex. http://my-api/endpoint">
                <p class="help-block"><small>{{"services_health_post_small"| I18N}} <code>POST</code>{{"services_health_post_request" | I18N}}</small></p>
            </div>
            <hr>
            <div class="form-group">
                <button class="btn btn-primary btn-block" ng-click="save()">
                    {{"services_health_save_changes" | I18N}}
                </button>
            </div>

        </form>

    </uib-tab>
    <uib-tab index="1" heading="STATUS">
        <br>
        <div data-ng-show="!serviceHC.data">
            <h5>{{"services_health_no_info" | I18N}}</h5>
            <p class="" ng-if="!serviceHC.active">
                {{"services_health_help_block" | I18N}}
            </p>
            <p class="help-block" ng-if="serviceHC.active">
                {{"services_health_try_again" | I18N}}
            </p>
        </div>
        <div data-ng-show="serviceHC.data" class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>{{"service_health_last_status" | I18N}}</th>
                    <td>
                        <strong ng-if="serviceHC.data.firstSucceeded" class="text-success">
                            <i class="mdi mdi-check"></i>
                            {{"service_health_healthy" | I18N}}
                        </strong>
                        <strong ng-if="!serviceHC.data.firstSucceeded" class="text-danger">
                            <i class="mdi mdi-alert-outline"></i>
                            {{"service_health_unhealthy" | I18N}}
                        </strong>
                    </td>
                </tr>
                <tr>
                    <th>{{"service_health_last_checked" | I18N}}</th>
                    <th>{{moment(serviceHC.data.lastChecked).fromNow()}}</th>
                </tr>
                <tr>
                    <th>{{"service_health_last_failed" | I18N}}</th>
                    <td>{{serviceHC.data.lastFailed ? moment(serviceHC.data.lastFailed).format("dddd, MMMM Do YYYY, HH:mm:ss") : "Never"}}</td>
                </tr>
                <tr>
                    <th>{{"service_health_last_notified" |I18N}}</th>
                    <td>{{serviceHC.data.lastNotified ? moment(serviceHC.data.lastNotified).fromNow() : 'Never'}}</td>
                </tr>
                <tr>
                    <th>
                    <span data-ng-if="moment(serviceHC.data.lastSucceeded || 0) > moment(serviceHC.data.lastFailed || 0)">
                        {{"service_health_uptime" | I18N}}
                    </span>
                        <span data-ng-if="moment(serviceHC.data.lastSucceeded || 0) <= moment(serviceHC.data.lastFailed || 0)">
                        {{"service_health_downtime" | I18N}}
                    </span>
                    </th>
                    <td>
                    <span data-ng-if="moment(serviceHC.data.lastSucceeded || 0) > moment(serviceHC.data.lastFailed || 0)">
                        {{moment.duration(moment().diff(moment(serviceHC.data.firstSucceeded))).humanize()}}
                    </span>
                        <span data-ng-if="moment(serviceHC.data.lastSucceeded || 0) <= moment(serviceHC.data.lastFailed || 0)">
                        {{moment.duration(moment().diff(moment(serviceHC.data.firstFailed))).humanize()}}
                    </span>
                    </td>

                </tr>
            </table>
        </div>
    </uib-tab>

</uib-tabset>