<div class="form-group" ng-class="{'has-error' : errors.name}">
    <label class="col-sm-4 control-label">{{"name" | I18N}} <br><em><small class="help-block">{{"optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input ng-model="api.name" class="form-control">
        <div class="text-danger" ng-if="errors.name" data-ng-bind="errors.name"></div>
        <p class="help-block">{{"form_api_help_13" | I18N}} <code>request_host</code> {{"or" | I18N}} <code>request_path</code>.</p>
    </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.hosts}">
    <label class="col-sm-4 control-label">{{"hosts" | I18N}} <br><em><small class="help-block">{{"semi_optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input ng-model="api.hosts" class="form-control">
        <div class="text-danger" ng-if="errors.hosts" data-ng-bind="errors.hosts"></div>
        <p class="help-block">{{"form_api_help_14" | I18N}}<code>example.com</code>. {{"at_least_one_of" | I18N}} <code>hosts</code>, <code>uris</code>, {{"or" | I18N}} <code>{{"methods" |I18N}}</code> {{"form_api_help_15" |I18N}}</p>
    </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.uris}">
    <label class="col-sm-4 control-label">{{"uris" |I18N}} <br><em><small class="help-block">{{"semi_optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input ng-model="api.uris" class="form-control">
        <div class="text-danger" ng-if="errors.uris" data-ng-bind="errors.uris"></div>
        <p class="help-block">{{"form_api_help_16" | I18N}} <code>/my-path</code>. {{"at_least_one_of" |I18N}} <code>hosts</code>, <code>uris</code>, {{"or" | I18N}} <code>methods</code> {{"form_api_help_15" | I18N}}</p>
    </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.methods}">
    <label class="col-sm-4 control-label">{{"methods" | I18N}} <br><em><small class="help-block">{{"semi_optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input ng-model="api.methods" class="form-control">
        <div class="text-danger" ng-if="errors.methods" data-ng-bind="errors.methods"></div>
        <p class="help-block">{{"form_api_help_17" | I18N}} <code>GET</code>,<code>POST</code>. {{"at_least_one_of" | I18N}} <code>hosts</code>, <code>uris</code>, {{"or"  | I18N}} <code>methods</code> {{"form_api_help_15" | I18N}}</p>
    </div>
</div>
<div class="form-group " ng-class="{'has-error' : errors.upstream_url}">
    <label class="col-sm-4 control-label">{{"upstream" | I18N}} URL</label>
    <div class="col-sm-7">
        <input type="url" ng-model="api.upstream_url" class="form-control">
        <div class="text-danger" ng-if="errors.upstream_url" data-ng-bind="errors.upstream_url"></div>
        <p class="help-block">
            {{"form_api_help_18" | I18N}} <code>https://mockbin.com</code>.
        </p>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">{{"strip_uri" | I18N}}
        <br><em><small class="help-block">{{"optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input

                bs-switch
                ng-model="api.strip_uri"
                switch-size="small"
                type="checkbox"
                switch-on-text="YES"
                switch-off-text="NO"
        >
        <p class="help-block">
            {{"form_api_help_19" | I18N}}<code>uris</code> {{"form_api_help_20" | I18N}} <code>true</code>.
        </p>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">{{"preserve_host"|I18N}}
        <br><em><small class="help-block">{{"optional"|I18N}}</small></em></label>
    <div class="col-sm-7">
        <input

                bs-switch
                ng-model="api.preserve_host"
                switch-size="small"
                type="checkbox"
                switch-on-text="YES"
                switch-off-text="NO"
        >
        <p class="help-block">
            {{"form_api_help_21" | I18N}} <code>hosts</code> {{"form_api_help_22" | I18N}} <code>Host</code> {{"form_api_help_23" | I18N}} <code>false</code>, {{"and_the_upstream"|I18N}} <code>Host</code> {{"form_api_help_24" | I18N}} <code>upstream_url</code>.
        </p>
    </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.retries}">
    <label class="col-sm-4 control-label">{{"retries" | I18N}} <br><em><small class="help-block">{{"optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input type="number" ng-model="api.retries" class="form-control">
        <div class="text-danger" ng-if="errors.retries" data-ng-bind="errors.retries"></div>
        <p class="help-block">{{"form_api_help_25"|I18N}} <code>5</code>.</p>
    </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.upstream_connect_timeout}">
    <label class="col-sm-4 control-label">{{"upstream_connect_timeout" | I18N}} <br><em><small class="help-block">{{"optional" |I18N}}</small></em></label>
    <div class="col-sm-7">
        <input type="number" ng-model="api.upstream_connect_timeout" class="form-control">
        <div class="text-danger" ng-if="errors.upstream_connect_timeout" data-ng-bind="errors.upstream_connect_timeout"></div>
        <p class="help-block">{{"form_api_help_26" |I18N}} <code>60000</code></p>
    </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.upstream_send_timeout}">
    <label class="col-sm-4 control-label">{{"upstream_send_timeout"| I18N}} <br><em><small class="help-block">{{"optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input type="number" ng-model="api.upstream_send_timeout" class="form-control">
        <div class="text-danger" ng-if="errors.upstream_send_timeout" data-ng-bind="errors.upstream_send_timeout"></div>
        <p class="help-block"> {{"form_api_help_27" | I18N}} <code>60000</code></p>
    </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.upstream_read_timeout}">
    <label class="col-sm-4 control-label">{{"upstream_read_timeout" |I18N}} <br><em><small class="help-block">{{"optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input type="number" ng-model="api.upstream_read_timeout" class="form-control">
        <div class="text-danger" ng-if="errors.upstream_read_timeout" data-ng-bind="errors.upstream_read_timeout"></div>
        <p class="help-block">{{"form_api_help_28" | I18N}}<code>60000</code></p>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">Https only
        <br><em><small class="help-block">{{"optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input

                bs-switch
                ng-model="api.https_only"
                switch-size="small"
                type="checkbox"
                switch-on-text="YES"
                switch-off-text="NO"
        >
        <p class="help-block">
            {{"form_api_help_29"| I18N}} (<code>8443</code> by default). {{"default" | I18N}}: <code>false</code>.
        </p>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">{{"http_if_terminated" | I18N}}
        <br><em><small class="help-block">{{"optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input

                bs-switch
                ng-model="api.http_if_terminated"
                switch-size="small"
                type="checkbox"
                switch-on-text="YES"
                switch-off-text="NO"
        >
        <p class="help-block">
            {{"consider_the" | I18N}} <code>X-Forwarded-Proto</code> {{"form_api_help_30" | I18N}} <code>true</code>.
        </p>
    </div>
</div>