<div class="form-group" ng-class="{'has-error' : errors.name}">
    <label class="col-sm-4 control-label">Name <br><em><small class="help-block">{{"optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input ng-model="api.name" class="form-control">
        <div class="text-danger" ng-if="errors.name" data-ng-bind="errors.name"></div>
        <p class="help-block">{{"form_api_help_1" | I18N}} <code>request_host</code> {{"or" | I18N}} <code>request_path</code>.</p>
    </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.request_host}">
    <label class="col-sm-4 control-label">{{"request_host" | I18N}}
        <br><em><small class="help-block">{{"semi_optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input ng-model="api.request_host" class="form-control">
        <div class="text-danger" ng-if="errors.request_host" data-ng-bind="errors.request_host"></div>
        <p class="help-block">
            {{"form_api_help_2" | I18N}} <code>mockbin.com</code>{{"at_least" | I18N}} <code>request_host</code> {{"or" | I18N}} <code>request_path</code> {{"form_api_help_3" | I18N}}
        </p>

    </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.request_path}">
    <label class="col-sm-4 control-label">{{"request_path" | I18N}}
        <br><em><small class="help-block">{{"semi_optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input ng-model="api.request_path" class="form-control">
        <div class="text-danger" ng-if="errors.request_path" data-ng-bind="errors.request_path"></div>
        <p class="help-block">
            {{"form_api_help_4" | I18N}} <code>/someservice</code>{{"at_least"|I18N}} <code>request_host</code> {{"or" | I18N}} <code>request_path</code> {{"form_api_help_5" | I18N}}
        </p>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">Strip Request Path
        <br><em><small class="help-block">{{"optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input

                bs-switch
                ng-model="api.strip_request_path"
                switch-size="small"
                type="checkbox"
                switch-on-text="YES"
                switch-off-text="NO"
        >
        <!--<select ng-model="api.strip_request_path"-->
        <!--ng-change="updateApi(api)"-->
        <!--class="form-control"-->
        <!--ng-options="o.v as o.n for o in [{ n: 'No', v: false }, { n: 'Yes', v: true }]">-->
        <!--</select>-->
        <p class="help-block">
            {{"form_api_help_6" | I18N}} <code>/someservice/hello</code> {{"form_api_help_7" | I18N}} <code>upstream_url/hello</code>{{"form_api_help_8" | I18N}}
        </p>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">{{"preserve_host" | I18N}}
        <br><em><small class="help-block">{{"optional" |I18N}}</small></em></label>
    <div class="col-sm-7">
        <input

                bs-switch
                ng-model="api.preserve_host"
                switch-size="small"
                type="checkbox"
                switch-on-text="YES"
                switch-off-text="NO"
        >
        <!--<select ng-model="api.preserve_host"-->
        <!--ng-change="updateApi(api)"-->
        <!--class="form-control"-->
        <!--ng-options="o.v as o.n for o in [{ n: 'No', v: false }, { n: 'Yes', v: true }]">-->
        <!--</select>-->
        <p class="help-block">
            {{"form_api_help_9" | I18N}} <code>{{"host"| I18N}}</code> {{"form_api_help_10" | I18N}} <code>{{"hostname" | I18N}}</code> {{"of_the" | I18N}} <code>upstream_url</code>{{"form_api_help_11" | I18N}}
        </p>
    </div>
</div>
<div class="form-group " ng-class="{'has-error' : errors.upstream_url}">
    <label class="col-sm-4 control-label">{{"upstream" | I18N}} URL</label>
    <div class="col-sm-7">
        <input type="url" ng-model="api.upstream_url" class="form-control">
        <div class="text-danger" ng-if="errors.upstream_url" data-ng-bind="errors.upstream_url"></div>
        <p class="help-block">
            {{"form_api_help_12" | I18N}}<code>https://mockbin.com</code>.
        </p>
    </div>
</div>