<div class="form-group" ng-class="{'has-error' : errors.name}">
    <label class="col-sm-4 control-label">{{"service_form_name" | I18N}} <br><em><small class="help-block">{{"service_optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input ng-model="service.name" class="form-control">
        <div class="text-danger" ng-if="errors.name" data-ng-bind="errors.name"></div>
        <p class="help-block">{{"service_form_service_name" |I18N}}</p>
    </div>
</div>

<!-- EXTRAS -->
<div class="form-group">
    <label class="col-sm-4 control-label">{{"service_form_description" | I18N}} <br><em><small class="help-block">{{"service_form_optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input ng-model="service.extras.description" class="form-control">
        <p class="help-block">{{"last_1" | I18N}}</p>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">{{"service_form_tags" | I18N}} <br><em><small class="help-block">{{"service_form_optional" | I18N}}</small></em></label>
    <div class="col-sm-7" ng-if="isGatewayVersionEqOrGreater('1.1.0-rc1')">
        <chips ng-model="service.tags">
            <chip-tmpl>
                <div class="default-chip">
                    {{chip}}
                    <i class="mdi mdi-close" remove-chip></i>
                </div>
            </chip-tmpl>
            <input ng-model-control
                   data-ng-keypress="onTagInputKeyPress($event)"
                   ng-model="$tag" uib-typeahead="tag for tag in tags | filter:$viewValue | limitTo:10"/>
        </chips>
        <p class="help-block">
           {{"service_form_help_block" | I18N}}
        </p>
    </div>
    <div class="col-sm-7" ng-if="!isGatewayVersionEqOrGreater('1.1.0-rc1')">
        <chips ng-model="service.extras.tags">
            <chip-tmpl>
                <div class="default-chip">
                    {{chip}}
                    <i class="mdi mdi-close" remove-chip></i>
                </div>
            </chip-tmpl>
            <input ng-model-control
                   data-ng-keypress="onTagInputKeyPress($event)"
                   ng-model="$tag" uib-typeahead="tag for tag in tags | filter:$viewValue | limitTo:10"/>
        </chips>
        <p class="help-block">
            {{"service_form_help_block" | I18N}}
        </p>
    </div>
</div>
<!--/ END EXTRAS -->

<div class="form-group" ng-class="{'has-error' : errors.url}" ng-if="!service.id">
    <label class="col-sm-4 control-label">Url <br><em><small class="help-block">{{"service_shorthand_attribute" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input ng-model="service.url" class="form-control">
        <div class="text-danger" ng-if="errors.url" data-ng-bind="errors.url"></div>
        <p class="help-block">
            {{"service_form_to_set" | I18N}} <code>{{"protocol" |I18N}}</code>, <code>{{"host" | I18N}}</code>, <code>{{"port" | I18N}}</code> {{"and" | I18N}} <code>{{"path" | I18N}}</code> {{"at_once" | I18N}}
            {{"service_form_write_only" |I18N}}
        </p>
    </div>
</div>

<div class="form-group" ng-class="{'has-error' : errors.protocol}">
    <label class="col-sm-4 control-label">{{"protocal" | I18N}} <br><em><small class="help-block">{{"service_form_semi_optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input ng-model="service.protocol" class="form-control">
        <div class="text-danger" ng-if="errors.protocol" data-ng-bind="errors.protocol"></div>
        <p class="help-block">{{"service_form_upstream" |I18N}} <code>http</code> {{"or" | I18N}} <code>https</code>.</p>
    </div>
</div>

<div class="form-group" ng-class="{'has-error' : errors.host}">
    <label class="col-sm-4 control-label">{{"host" | I18N}} <br><em><small class="help-block">{{"service_form_semi_optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input ng-model="service.host" class="form-control">
        <div class="text-danger" ng-if="errors.host" data-ng-bind="errors.host"></div>
        <p class="help-block">{{"service_form_server" | I18N}}</p>
    </div>
</div>

<div class="form-group" ng-class="{'has-error' : errors.port}">
    <label class="col-sm-4 control-label">{{"port" | I18N}} <br><em><small class="help-block">{{"service_form_semi_optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input type="number" ng-model="service.port" class="form-control">
        <div class="text-danger" ng-if="errors.port" data-ng-bind="errors.port"></div>
        <p class="help-block">{{"service_form_port" | I18N}} <code>80</code>.</p>
    </div>
</div>


<div class="form-group" ng-class="{'has-error' : errors.path}">
    <label class="col-sm-4 control-label">{{"path" | I18N}} <br><em><small class="help-block">{{"service_form_optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input ng-model="service.path" class="form-control">
        <div class="text-danger" ng-if="errors.path" data-ng-bind="errors.path"></div>
        <p class="help-block">{{"service_form_path_default" | I18N}}</p>
    </div>
</div>

<div class="form-group" ng-class="{'has-error' : errors.retries}">
    <label class="col-sm-4 control-label">{{"retries" | I18N}} <br><em><small class="help-block">{{"service_form_optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input type="number" ng-model="service.retries" class="form-control">
        <div class="text-danger" ng-if="errors.retries" data-ng-bind="errors.retries"></div>
        <p class="help-block">{{"service_form_retries_default" | I18N}} <code>5</code>.</p>
    </div>
</div>

<div class="form-group" ng-class="{'has-error' : errors.connect_timeout}">
    <label class="col-sm-4 control-label">{{"service_form_connect_timeout" | I18N}} <br><em><small class="help-block">{{"service_form_optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input type="number" ng-model="service.connect_timeout" class="form-control">
        <div class="text-danger" ng-if="errors.connect_timeout" data-ng-bind="errors.connect_timeout"></div>
        <p class="help-block">{{"service_form_timeout_default" | I18N}} <code>60000</code></p>
    </div>
</div>

<div class="form-group" ng-class="{'has-error' : errors.write_timeout}">
    <label class="col-sm-4 control-label">{{"service_form_write_timeout" | I18N}} <br><em><small class="help-block">{{"service_form_optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input type="number" ng-model="service.write_timeout" class="form-control">
        <div class="text-danger" ng-if="errors.write_timeout" data-ng-bind="errors.write_timeout"></div>
        <p class="help-block">{{"service_form_write_timeout_default" | I18N}} <code>60000</code></p>
    </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.read_timeout}">
    <label class="col-sm-4 control-label">{{"service_form_read_timeout" | I18N}} <br><em><small class="help-block">{{"service_form_optional" | I18N}}</small></em></label>
    <div class="col-sm-7">
        <input type="number" ng-model="service.read_timeout" class="form-control">
        <div class="text-danger" ng-if="errors.read_timeout" data-ng-bind="errors.read_timeout"></div>
        <p class="help-block">{{"service_form_read_timeout_default" | I18N}} <code>60000</code></p>
    </div>
</div>